.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .mainContent {
    display: flex;
    flex: 1;
  }
  
  .outletContainer {
    margin-left: 290px;
    margin-top: 50px;
    flex: 1;
    background-color: #F8F9FA;
    padding: 20px;
    overflow: auto;
  }
  