.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .mainContent {
    display: flex;
    flex: 1;
  }
  
  .outletContainer {
    margin-left: 275px;
    margin-top: 80px;
    flex: 1;
    background-color: white;
    padding: 20px;
    overflow: auto;
  }
  