.card {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d5db;
  background-color: white;
  width: 90%;
  margin: -2px;
}

:hover.card{
  box-shadow: 0 2px 2px #233754;
}

.header {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  /* font-weight: bold; */
}

.value {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.01em;
  font-weight: lighter;
  margin-top: 0.1px;
}

.detail{
  font-size: 1.3rem;
  margin-top: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  padding-top: 16px;
}

.percentage {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.3rem;
  font-weight: 600;
}

.percentageValue {
  font-size: 1rem;
}

.comparison {
  color: #6b7280; 
  font-size: 0.875rem;
}

.positive {
  color: #00c853;
}

.negative {
  color: #d50000; 
}

.chartWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px; 
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 70%;
}

.legendItem {
  display: flex;
  align-items: left;
  font-size: 15px;
  white-space: nowrap;
}

.legendColor {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 2px;
  margin-top: 5px;
}

.chartContainer {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}