.container {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 1.8em;
  margin-bottom: 15px;
  margin-left: 15px;
  font-weight: 600;
  color: #17A2B8;
  text-align: left;
}

.title2 {
  margin-top: 25px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 300;
  opacity: 0.5;
}
