.update_button {
  color: #3674b5;
  padding: 5px;
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
}
.update_button:hover {
  color: #308aeb;
}
.delete_button {
  color: red;
  padding: 0.5rem;
  border-radius: 5px;
}
.editModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}
.circleCheckButton {
  background-color: transparent;
  cursor: pointer;
  color: #1b56fd;
}
.circleCheckButtonNotAllowed {
  background-color: transparent;
  cursor: not-allowed;
  color: grey;
}
.circleCheckButton:hover {
  color: #133eb4;
}
.filter_section {
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  color: white;
}
.filterStatusP {
  font-size: 1.5rem;
  color: black;
}

.tableContainer {
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  color: #2c3e50;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #1b56fd 0%, #133eb4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
