.summaryContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.statusBadge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  text-align: center;
  min-width: 80px;
}

.statusActive {
  background-color: rgba(0, 128, 0, 0.2); /* Xanh lá nhạt */
  color: green;
}

.statusInactive {
  background-color: rgba(255, 0, 0, 0.2); /* Đỏ nhạt */
  color: red;
}

.icon_button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.editButton {
  color: #007bff; /* Xanh dương */
}

.editButton:hover {
  background-color: rgba(0, 123, 255, 0.2);
}

.deleteButton {
  color: #dc3545; /* Đỏ */
}

.deleteButton:hover {
  background-color: rgba(220, 53, 69, 0.2);
}

.summaryCard {
  width: 250px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.filter_section {
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  color: white;
}
.filterStatusP {
  font-size: 1.5rem;
  color: black;
}

.tableContainer {
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.editModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.title {
  color: #2c3e50; 
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #1b56fd 0%, #133eb4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
