.button_container {
  display: flex;
  gap: 8px;
}

.icon_button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}

.icon_button:hover {
  transform: scale(1.1);
}
