.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.submit_button {
  background: #ef8354;
}
.submit_button:hover {
  background: #ef8254cf;
}
