.container {
  width: 95%;
  margin: 2rem auto;
  background-color: white;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.75rem;
  color: #2d3142;
  font-weight: 600;
}

.icon {
  cursor: pointer;
  color: #2d3142;
  transition: all 0.2s;
}

.icon:hover {
  color: #007bff;
  transform: scale(1.1);
}

.modal {
  background: white;
}

.table_body {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.table_body th,
.table_body td {
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
}

.table_body tr {
  height: 50px;
}

.table_body th {
  background-color: #2d3142;
  color: white;
}

.table_body tr:nth-child(even) {
  background: #ececec;
}

.table_body tbody tr:hover {
  transition: background 0.3s ease-in-out;
  transform: scale(1.015);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  margin: 1rem 0 0 0;
  padding: 0.8rem 1rem 0 0;
}

.pageNumber {
  font-size: 1rem;
  padding: 0 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pageNumber:hover {
  background: #007bff;
  color: white;
  transform: scale(1.1);
}

.pageNumber.active {
  background: #007bff;
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.pageIcon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

.pageIcon:hover {
  transform: scale(1.2);
  color: #007bff;
}

.icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out, color 0.2s;
}

.icon:hover {
  color: #007bff;
  transform: scale(1.2);
}

.icon:active {
  transform: scale(0.9);
}
