@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap");

@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}
/* @import "tailwindcss/preflight.css" layer(base); */
@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}
