.searchBar {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .input {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
  }
  
  .searchIcon {
    color: gray;
  }
  