.cancel_button {
  margin-left: 509px;
  margin-top: -18px;
}
.update_button_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.update_button {
  margin-top: 20px;
  margin-left: 10px;
  background-color: #89cff0;
  border-radius: 10px;
  padding: 10px;
}

.input_container {
  margin-left: 50px;
}
