.cancel_button {
  margin-left: 418px;
  margin-top: 0px;
  background-color: transparent;
  color: red;
}
.update_button_container {
  justify-content: center;
  text-align: center;
}
.update_button {
  text-align: center;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 15px;
  font-weight: 800;
  background: linear-gradient(90deg, #3e5879 0%, #213555 100%);
}

/* .input_container {
  margin-left: 3.5rem;
  padding: 0;
} */
.flex {
  display: flex;
}
.label_container {
  padding-top: 2px;
  color: red;
}
.label_container div {
  color: red;
}
.input_container span {
  font-size: 14px;
  font-weight: bold;
}

.title {
  color: #3e5879;
}
