.tooltipContainer {
  display: inline-block;
  position: relative;
  text-align: center;
}

.tooltipText {
  position: absolute;
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tooltipContainer:hover .tooltipText {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) scale(1);
}


.tooltipTop {
  bottom: calc(100% + 5px); 
  left: 50%;
  transform: translateX(-50%) translateY(-10px) scale(0.8);
}

.tooltipTop::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.tooltipBottom {
  top: calc(100% - 5px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltipBottom::after {
  content: "";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}


.tooltipRight {
  top: 50%;
  left: calc(100% + 5px); 
  transform: translateY(-50%);
}

.tooltipRight::after {
  content: "";
  position: absolute;
  left: -5px; 
  top: 50%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}


.tooltipLeft {
  top: 50%;
  right: calc(100% + 2px); 
  transform: translateY(-50%);
}

.tooltipLeft::after {
  content: "";
  position: absolute;
  right: -5px; 
  top: 50%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}
