/* Container chính - Chia layout 50-50 */
.container {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Row chính chứa 2 phần */
.row {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Welcome Section (50%) */
.leftSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("@assets/background_blur_v1.png");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative; /* Đảm bảo .mask không bị lệch */
  overflow: hidden;
}

/* Mặt nạ màu tối */
.mask {
  /* background-color: rgba(45, 49, 66, 0.7); */
  background-color: #535666;
  opacity: 0.8;
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* Nội dung chào mừng */
.content {
  position: relative;
  z-index: 2;
  text-align: left;
  /* padding: 30px; */
  margin: 100px;
  width: 100%;
}

.logo {
  top: 0;
  left: 0;
  text-align: left;
  position: fixed;
}

.logo a {
  margin-left: 50px;
}

.logo img {
  width: 100%;
  max-height: 200px;
  margin-bottom: 0px;
  cursor: default;
}

.leftSideText h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: rgb(17, 162, 162);
}

.leftSideText p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Login Section (50%) */
.rightSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
  background-color: white;
  padding: 30px;
}

.rightSideContainer {
  width: 100%;
  max-width: 450px;
  background-color: white;
  padding: 40px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  /* border-radius: 12px; */
}

.rightSideContainer h1 {
  font-size: 27pxrem;
  margin-bottom: 25px;
  font-weight: 500;
}

.rightSideContainer p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Form input */
.inputForm {
  margin-bottom: 20px;
}

.inputForm label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: block;
}

.inputForm input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputForm input:focus {
  outline: none; /* Loại bỏ đường viền mặc định của trình duyệt */
  border-color: #007bff; /* Thay đổi màu viền khi được focus */
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5); /* Hiệu ứng sáng nhẹ quanh ô input */
}

/* Options (Remember Me & Forgot Password) */
.options {
  display: flex;
  justify-content: right;
  margin: 15px 0;
}

.rememberMe {
  text-align: center;
}

.rememberMe input {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.rememberMe label {
  font-size: 16px;
}

.options a {
  text-decoration: none;
  color: #007bff;
}

.options a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Nút Login */
.btnSubmitForm {
  width: 100%;
  padding: 12px 20px;
  background-color: #535666;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSubmitForm:hover {
  background-color: #3a3b3f;
}

.backToLogin {
  text-align: left;
  margin-top: 10px;
}

.backToLogin a {
  text-decoration: none;
  color: #007bff;
}

.backToLogin a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.inputForm__message {
  display: flex;
  justify-content: space-between;
}

.label__error {
  color: red;
}

.typewriterText {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  margin: 0;
}
