.tooltipContainer {
  display: inline-block;
  position: relative;
}

.tooltipText {
  position: absolute;
  bottom: 125%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.tooltipText::after {
  content: "";
  position: absolute;
  top: 100%; /* Position at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; /* Spiky arrow color */
}

.tooltipContainer:hover .tooltipText {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
  transform: translateX(-50%) scale(1);
}
