/* Container chính bọc Sidebar và Content */
.container {
  /* display: flex; */
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 60px;
  background-color: #213555;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in;
}

/* .collapsed {
  width: 50px;
  padding: 10px;
  transition: 0.3s ease;
  overflow: hidden;
}
.collapsed.claimItem {
  width: 10px;
} */

.header {
  margin-left: 77px;
}
.headerCollapse {
  display: flex;
  justify-content: flex-end;
}

.toggleButton {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 150px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logoImage {
  width: 60%;
  transition: width 0.3s ease;
}

.collapsed .logoImage {
  width: 50px;
}

.createClaim {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.createClaimCollapse {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px;
  margin: 15px 0px;
  cursor: pointer;
  font-size: 10px;
  width: 100%;
}

.menu {
  margin-top: 70px;
}

.claimHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
.menuText {
  font-size: 20px;
  font-weight: 900;
  margin-left: 82px;
}
.menuTextCollapse {
  font-size: 20px;
  font-weight: 900;
  margin-left: 5px;
}
.menuIcon {
  margin-left: 10px;
  margin-top: 2px;
}
.claimList {
  transition: max-height 0.3s ease;

  list-style: none;
  padding: 0;
}

.claimItemCollapse {
  padding: 8px;
  cursor: pointer;
  background-color: #34495e;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: none !important;
}
.claimItemCreateClaim {
  padding: 4px;
  cursor: pointer;
  background-color: #4caf50;
  margin: 15px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: none !important;
}
.claimItem {
  padding: 8px;
  cursor: pointer;
  background-color: #34495e;
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: none !important;
}
.claimItem:hover {
  background-color: #16a085;
}
.claimItemCollapse:hover {
  background-color: #16a085;
}
.claimItem .icon {
  margin-right: 10px;
}

.collapsed .claimItem .icon {
  margin-right: 0;
}

.active {
  background-color: #16a085;
}
.noActive {
  background-color: none;
}

/* Content Area */
.contentContainer {
  /* flex-grow: 1; */
  margin-left: 300px; /* Để không bị che bởi Sidebar */
  padding: 20px;
  background-color: white;
  /* display: flex; */
  /* align-items: center;
    justify-content: center; */
  margin-top: 80px;
  height: 100vh;
  transition: margin-left 0.3s ease;
}

/* Khi Sidebar thu nhỏ */
.collapsed + .contentContainer {
  margin-left: 80px;
}

/* Định dạng chung cho content của từng tab */
.content {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.logout:hover {
  background-color: #c0392b;
  width: 100%;
}
.logoutCollapse {
  color: white;
  width: 100%;
}

/* Arrow styles */
.arrowUp {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px; /* Space between text and arrow */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white; /* Change color as needed */
}

.arrowDown {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px; /* Space between text and arrow */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white; /* Change color as needed */
}
.claimButton {
  color: white;
  transition: none !important;
  padding-top: 5px;
}
.claimButton:hover {
  text-decoration: none;
}
.claimButtonCollapse {
}
.claimButtonIngredient {
  display: flex;
  flex-direction: row;
  transition: none !important;
}
.iconInClaimButton_1 {
  margin-top: 2px;
  margin-left: 5px;
  transition: none !important;
}
.iconInClaimButton_2 {
  margin-left: 5px;
  transition: none !important;
}
.showText {
  visibility: visible;
  transition: none !important;
}
.hideText {
  visibility: hidden;
  transition: none !important;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: #34495e;
  color: #fff;
  text-align: center;
  padding: 16px 10px;
  margin-left: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: 3rem;
  margin-top: -3rem;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
